<!DOCTYPE html>
<html lang="en" ng-app="myapp">

  <head>
   <meta charset="UTF-8">
    <title>Instagram searcher</title>
     
    <script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
     <script src="js/app.js" type="text/javascript" ></script>
     <link rel="stylesheet" href="css/style.css">
   
  </head>

  <body ng-controller="MyCtrl">
   <div id="container">
  <div id="heading">
  <h1>Instagram Searcher</h1>
        <img id="left-logo" src="images/logo.png">
          </div>

          <form name="myForm" ng-submit="search()" novalidate>
          <div class="form_inp" ng-class="{'has-error': searchForm.searchField.$invalid}">
   <input name="searchField" type="text"  required ng-model="searchField" placeholder="Enter a tag for search" />
    <p class="error-message"  ng-show="searchForm.searchField.$invalid">Enter a word</p>
                                </div>

           <button type="submit" class=" btn-primary" >submit</button>
           </form>
           <div class="results"  ng-repeat="item in images" >
             <a class="thumbnail" ng-href="{{item.link}}">
                        <img class="img-responsive" ng-src="{{ item.images.low_resolution.url }}" alt="{{ item.caption.text }}">
                    </a>
           </div>.
           </div>
    
    
      
  </body>

</html>
